repos:
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args:
          - --disable=C0114,C0115,C0116  # docstring 경고 비활성화
          - --max-line-length=100
