repos:
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: python -m pylint
        language: system
        types: [python]
        args:
          - --disable=C0114,C0115,C0116
          - --max-line-length=100
