[MASTER]
jobs = 0

[MESSAGES CONTROL]
disable =
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods,
    import-error,
    line-too-long,
    trailing-whitespace,
    wrong-import-position,
    wrong-import-order,
    ungrouped-imports,
    import-outside-toplevel,
    too-many-locals,
    too-many-statements,
    inconsistent-return-statements,
    consider-using-generator,
    unused-import,
    unused-variable,
    disallowed-name,
    consider-using-f-string,
    missing-final-newline,
    superfluous-parens,
    unspecified-encoding,
    duplicate-code

[FORMAT]
max-line-length = 240

[REPORTS]
score = no

[BASIC]
good-names = i,j,k,x,y,df,dt,id
